// export enum primaryColors {
//     boltGreen = `#007986`,
//     boltPink = `#E77E7A`,
//     boltActive = `#24B0BF`,
//     boltLightTeal = `#EBFAFC`,
//   }

//   export enum grayScaleColors {
//     white = `rgb(255,255,255)`,
//     silkWhite = `#D0E8EB`,
//     darkGrey = `#333333`,
//   }

$boltGreen: #007986;
$boltPink: #e77e7a;
$boltActive: #24b0bf;
$boltLightTeal: #ebfafc;
$silkWhite: #d0e8eb;
$darkGrey: #333333;
