@import './auth.module';

.wrapper {
    //background-image: url('../public/images/bg.webp');
    //backdrop-filter: blur(3px);
    //background-size: contain;
    //background-repeat: no-repeat;
    //object-fit: cover;

    .half {
        height: 100%;
        width: calc(50% - .5px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 960px) {
        .half {
            width: 100%;
            height: auto;
            padding-top: 30px
        }
    }

    .prompt {
        color: #BFBFBF;
    }

    .submitbtn {
        margin-bottom: 6px;
    }

    form {
        padding: 0 10rem;
    }
}