@import './auth.module';

.wrapper {

    h1 {
        color: #FF6600;
    }

    .left {
        width: calc(43.9% - .5px);
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 5;
    }

    .right {
        width: calc(56.1% - .5px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .formFooter {
        justify-content: center;
        display: block;

        a {
            color: #114EEC;
        }
    }

    .prompt {
        color: #FFFFFF;
    }

    .submitbtn {
        margin-bottom: 13px;
    }

    .submitbtn:disabled {
        opacity: 50%;
    }

    form {
        padding: 0 88px;
    }

    .formInputs {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .formRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 27px;
    }

    .divider {
        order: 4;
    }

    .right {
        order: 3;
    }

    @media (max-width: 960px) {
        .left, .right {
            width: 100%;
            height: auto;
            padding-top: 30px;
            text-align: center;
        }

        .left {
            order: 3;
        }

        .right {
            order: 2
        }

        .formGroup input:not([type="password"]) {
            padding-right: 16px;
        }

        .formGroup input[type="password"] {
            padding-right: 40px;
        }

        form {
            padding: 0 50px;
        }
    }
}